body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle, #5c0067 0%,  #00d4ff 100%);
    color: black;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 50px;
    color: whitesmoke ; /* Título em preto */
    font-family: Berkshire Swash;
}

h2 {
    font-size: 24px;
    color:white; /* Título em preto */
    margin-top: 30px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ol {
    font-size: 18px;
    list-style-type: decimal;
    margin: 10px 0;
    color: whitesmoke; /* Texto das músicas em cinza */
    padding-left: 20px;
}

li {
    margin: 5px 0;
}